:host {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .image {
    flex-shrink: 0;
    width: 65px;
    height: 65px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
  }

  .specifications {
    width: 100%;
    padding-left: 1rem;

    .make {
      font-size: 0.875rem;
      color: #505050;
    }

    .model {
      font-size: 1.25rem;
    }
  }
}
