:host {
  .steps {
    display: flex;
    flex-wrap: nowrap;

    .step {
      width: 100%;
      padding: 1rem;
      background-color: #dadada;
      text-align: center;
    }

    .step-accessible:hover {
      color: map-get($theme-colors, primary);
      text-decoration: none;
      background-color: #d3d3d3;
    }

    .active, .active:hover {
      color: #fff;
      background-color: map-get($theme-colors, primary);
      text-decoration: none;
    }
  }
}
